$mainColor:#0075BE;
$background:#F5F5F5;
$secondaryColor:#FFCC00;

$electricType:#F7D02C;
$fireType:#EE8130;
$grassType:#7AC74C;
$waterType:#6390F0;
$normalType:#A8A77A;
$bugType:#A6B91E;
$darkType:#705746;
$dragonType:#6F35FC;
$fairyType:#D685AD;
$electricType:#F7D02C;
$ghostType:#735797;
$iceType:#96D9D6;
$poisonType:#A33EA1;
$psychicType:#F95587;
$rockType:#B6A136;
$steelType:#B7B7CE;
$fairyType:#D685AD;
$groundType:#E2BF65;
$fightingType:#C22E28;
$flyingType:#A98FF3;

// ------------------------------   Functions   ------------------------------

@function px-to-rem($px, $base: 16) {
    @return ($px / $base) * 1rem;
}

// ------------------------------   Mixins  ------------------------------

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// ------------------------------   Extends    ------------------------------

%containerHover {
    @media (hover: hover) {
        &:hover {
            transform: scale(1.05);
            transition: all 0.2s ease-out;
            cursor: pointer;
        }
    }
}

%containerActive {
    &:active {
        transform: scale(0.95);
        transition: all 0.1s ease-out;
    }
}