body {
    font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
    font-size: px-to-rem(16);
    font-weight: 300;
    margin: 0;
}

header {
    background-color: $mainColor;
    color: #ffffff;
    gap: 5px;
    @include flex(row, center, center);
    
    img {
        width: 50px;
        height: 50px;
        padding-top: 5px;
    }
}

.search {
    background-color: #F5F5F5;
    height: 100px;
    width: 100%;
    @include flex(row, center, center);

    input {
        all: unset;
        border-top: 3.5px $mainColor solid;
        border-bottom: 3.5px $mainColor solid;
        border-left: 3.5px $mainColor solid;
        color: #333333;
        background-color: #ffffff;
        padding: 8px 12px;
        border-radius: 7px 0 0 7px;
        width: 25%;

        &::placeholder {
            color: #999999;
        }
    }

    i {
        height: 36px;
        width: 36px;
        background-color: #FFCC00;
        border-radius: 0 7px 7px 0;
        border-top: 3.5px $mainColor solid;
        border-bottom: 3.5px $mainColor solid;
        border-right: 3.5px $mainColor solid;
        cursor: pointer;
        transition: all 0.2s ease-out;
        @include flex(row, center, center);

        img {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background-color: #FF9900;
        }
    }
}

.pokemons {
    box-sizing: border-box;
    width: 85%;
    margin: 90px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: $background;
    gap: 25px;
    padding: 30px 15px 30px 15px;
    border-radius: 10px;
    text-align: center;

    article {
        @include flex(column, center, center);
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 20px;
        border: black 2px solid;
        width: 290px;
        height: 320px;

        img {
            width: 80px;
            height: 80px;
            margin: 40px 0;
        }

        div {
            @include flex(row, center, center);
            gap: 5px;

            span {
                width: 90px;
                border-radius: 50px;
                padding: 5px 10px;
                font-weight: 400;
                background-color: #FFCC00;
            }
        }
    }
}