@media (hover: hover) {
  section.teamConstructor article:hover, .pokemons article:hover, .pokemons div:hover, header i:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
}

section.teamConstructor article:active, .pokemons article:active, .pokemons div:active, header i:active {
  transform: scale(0.95);
  transition: all 0.1s ease-out;
}

.info article.info__types div span.normal, .pokemons article div span.normal {
  background-color: #A8A77A;
}
.info article.info__types div span.fire, .pokemons article div span.fire {
  background-color: #EE8130;
}
.info article.info__types div span.water, .pokemons article div span.water {
  background-color: #6390F0;
}
.info article.info__types div span.electric, .pokemons article div span.electric {
  background-color: #F7D02C;
}
.info article.info__types div span.grass, .pokemons article div span.grass {
  background-color: #7AC74C;
}
.info article.info__types div span.ice, .pokemons article div span.ice {
  background-color: #96D9D6;
}
.info article.info__types div span.fighting, .pokemons article div span.fighting {
  background-color: #C22E28;
}
.info article.info__types div span.poison, .pokemons article div span.poison {
  background-color: #A33EA1;
}
.info article.info__types div span.ground, .pokemons article div span.ground {
  background-color: #E2BF65;
}
.info article.info__types div span.flying, .pokemons article div span.flying {
  background-color: #A98FF3;
}
.info article.info__types div span.psychic, .pokemons article div span.psychic {
  background-color: #F95587;
}
.info article.info__types div span.bug, .pokemons article div span.bug {
  background-color: #A6B91E;
}
.info article.info__types div span.rock, .pokemons article div span.rock {
  background-color: #B6A136;
}
.info article.info__types div span.ghost, .pokemons article div span.ghost {
  background-color: #735797;
}
.info article.info__types div span.dragon, .pokemons article div span.dragon {
  background-color: #6F35FC;
}
.info article.info__types div span.dark, .pokemons article div span.dark {
  background-color: #705746;
}
.info article.info__types div span.steel, .pokemons article div span.steel {
  background-color: #B7B7CE;
}
.info article.info__types div span.fairy, .pokemons article div span.fairy {
  background-color: #D685AD;
}

.info i.normal, .pokemons article i.normal {
  background-color: #A8A77A;
  background: radial-gradient(circle, #A8A77A, rgba(0, 0, 0, 0) 70%);
  opacity: 0.8;
}
.info i.fire, .pokemons article i.fire {
  background-color: #EE8130;
  background: radial-gradient(circle, #EE8130, rgba(0, 0, 0, 0) 70%);
}
.info i.water, .pokemons article i.water {
  background-color: #6390F0;
  background: radial-gradient(circle, #6390F0, rgba(0, 0, 0, 0) 70%);
}
.info i.electric, .pokemons article i.electric {
  background-color: #F7D02C;
  background: radial-gradient(circle, #F7D02C, rgba(0, 0, 0, 0) 70%);
}
.info i.grass, .pokemons article i.grass {
  background-color: #7AC74C;
  background: radial-gradient(circle, #7AC74C, rgba(0, 0, 0, 0) 70%);
}
.info i.ice, .pokemons article i.ice {
  background-color: #96D9D6;
  background: radial-gradient(circle, #96D9D6, rgba(0, 0, 0, 0) 70%);
}
.info i.fighting, .pokemons article i.fighting {
  background-color: #C22E28;
  background: radial-gradient(circle, #C22E28, rgba(0, 0, 0, 0) 70%);
}
.info i.poison, .pokemons article i.poison {
  background-color: #A33EA1;
  background: radial-gradient(circle, #A33EA1, rgba(0, 0, 0, 0) 70%);
}
.info i.ground, .pokemons article i.ground {
  background-color: #E2BF65;
  background: radial-gradient(circle, #E2BF65, rgba(0, 0, 0, 0) 70%);
}
.info i.flying, .pokemons article i.flying {
  background-color: #A98FF3;
  background: radial-gradient(circle, #A98FF3, rgba(0, 0, 0, 0) 70%);
}
.info i.psychic, .pokemons article i.psychic {
  background-color: #F95587;
  background: radial-gradient(circle, #F95587, rgba(0, 0, 0, 0) 70%);
}
.info i.bug, .pokemons article i.bug {
  background-color: #A6B91E;
  background: radial-gradient(circle, #A6B91E, rgba(0, 0, 0, 0) 70%);
}
.info i.rock, .pokemons article i.rock {
  background-color: #B6A136;
  background: radial-gradient(circle, #B6A136, rgba(0, 0, 0, 0) 70%);
}
.info i.ghost, .pokemons article i.ghost {
  background-color: #735797;
  background: radial-gradient(circle, #735797, rgba(0, 0, 0, 0) 70%);
}
.info i.dragon, .pokemons article i.dragon {
  background-color: #6F35FC;
  background: radial-gradient(circle, #6F35FC, rgba(0, 0, 0, 0) 70%);
}
.info i.dark, .pokemons article i.dark {
  background-color: #705746;
  background: radial-gradient(circle, #705746, rgba(0, 0, 0, 0) 70%);
}
.info i.steel, .pokemons article i.steel {
  background-color: #B7B7CE;
  background: radial-gradient(circle, #B7B7CE, rgba(0, 0, 0, 0) 70%);
  opacity: 0.8;
}
.info i.fairy, .pokemons article i.fairy {
  background-color: #D685AD;
  background: radial-gradient(circle, #D685AD, rgba(0, 0, 0, 0) 70%);
}

.info i.normal {
  border: 5px solid #A8A77A;
}
.info i.fire {
  border: 5px solid #EE8130;
}
.info i.water {
  border: 5px solid #6390F0;
}
.info i.electric {
  border: 5px solid #F7D02C;
}
.info i.grass {
  border: 5px solid #7AC74C;
}
.info i.ice {
  border: 5px solid #96D9D6;
}
.info i.fighting {
  border: 5px solid #C22E28;
}
.info i.poison {
  border: 5px solid #A33EA1;
}
.info i.ground {
  border: 5px solid #E2BF65;
}
.info i.flying {
  background-color: #A98FF3;
}
.info i.psychic {
  border: 5px solid #F95587;
}
.info i.bug {
  border: 5px solid #A6B91E;
}
.info i.rock {
  border: 5px solid #B6A136;
}
.info i.ghost {
  border: 5px solid #735797;
}
.info i.dragon {
  border: 5px solid #6F35FC;
}
.info i.dark {
  border: 5px solid #705746;
}
.info i.steel {
  border: 5px solid #B7B7CE;
}
.info i.fairy {
  border: 5px solid #D685AD;
}

body {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #0075BE;
  color: #ffffff;
  gap: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 30000;
}
@media screen and (max-width: 46.875rem) {
  header {
    height: 86px;
  }
}
@media screen and (max-width: 46.875rem) {
  header h1 {
    font-size: 25px;
  }
}
header img {
  width: 50px;
  height: 50px;
  padding-top: 5px;
}
@media screen and (max-width: 46.875rem) {
  header img {
    height: 40px;
    width: 40px;
  }
}
header i {
  cursor: pointer;
  position: absolute;
  left: 20px;
  width: 45px;
  height: 45px;
  padding: 0;
  transition: all 0.2s ease-out;
  display: none;
}
header i.activated {
  display: flex;
}
header i img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 46.875rem) {
  header i {
    width: 35px;
    height: 35px;
    left: 10px;
  }
}

.search {
  background-color: #F5F5F5;
  height: 100px;
  width: 100%;
  display: none;
  box-sizing: border-box;
  margin-top: 86px;
}
.search.activated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 10001;
}
@media screen and (max-width: 46.875rem) {
  .search div {
    height: 65px;
  }
}
.search ul {
  position: absolute;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #ffffff;
  width: 33.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #999999;
  margin-top: 340px;
  z-index: 10000;
}
@media screen and (max-width: 46.875rem) {
  .search ul {
    width: 20.3125rem;
  }
}
.search ul.oneSuggestion {
  margin-top: 100px;
}
.search ul.twoSuggestions {
  margin-top: 160px;
}
.search ul.threeSuggestions {
  margin-top: 220px;
}
.search ul.fourSuggestions {
  margin-top: 280px;
}
.search ul li {
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
@media (hover: hover) {
  .search ul li:hover {
    background-color: #F5F5F5;
    cursor: pointer;
    color: #000000;
  }
  .search ul li:hover img {
    transform: scale(1.1);
    transition: all 0.2s ease-in;
  }
}
.search ul li img {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-in;
}
.search input {
  all: unset;
  border-top: 3.5px #0075BE solid;
  border-bottom: 3.5px #0075BE solid;
  border-left: 3.5px #0075BE solid;
  color: #333333;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 7px 0 0 7px;
  width: 25%;
  text-decoration: none;
  transition: all 0.2s ease-out;
  min-width: 530px;
}
@media screen and (max-width: 46.875rem) {
  .search input {
    min-width: auto;
    width: 70%;
  }
}
.search input::-moz-placeholder {
  color: #999999;
}
.search input::placeholder {
  color: #999999;
}
.search input.searching {
  border-top: 3.5px #FFCC00 solid;
  border-bottom: 3.5px #FFCC00 solid;
  border-left: 3.5px #FFCC00 solid;
  transition: all 0.2s ease-out;
}
.search i {
  height: 36px;
  width: 36px;
  background-color: #FFCC00;
  border-radius: 0 7px 7px 0;
  border-top: 3.5px #0075BE solid;
  border-bottom: 3.5px #0075BE solid;
  border-right: 3.5px #0075BE solid;
  cursor: pointer;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (hover: hover) {
  .search i:hover {
    background-color: #FF9900;
  }
}
.search i img {
  width: 20px;
  height: 20px;
}
.search i.searching {
  border-top: 3.5px #FFCC00 solid;
  border-bottom: 3.5px #FFCC00 solid;
  border-right: 3.5px #FFCC00 solid;
  background-color: #FFCC00;
  transition: all 0.2s ease-out;
}

.pokemons {
  box-sizing: border-box;
  width: 85%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  background-color: #F5F5F5;
  gap: 25px;
  padding: 30px 15px 30px 15px;
  border-radius: 10px;
  text-align: center;
  min-height: 430px;
}
@media screen and (max-width: 46.875rem) {
  .pokemons {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    margin-top: 90px 0;
  }
}
.pokemons.activated {
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}
@media screen and (max-width: 46.875rem) {
  .pokemons.activated {
    margin: 50px auto;
  }
}
.pokemons div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 20px;
  border: #1E1E1E 3px solid;
  width: 350px;
  height: 220px;
  transition: all 0.2s ease-out;
  margin-bottom: 20px;
  padding: 25px;
}
@media screen and (max-width: 46.875rem) {
  .pokemons div {
    width: 230px;
    height: 100px;
    box-sizing: border-box;
  }
}
.pokemons div img {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 46.875rem) {
  .pokemons div img {
    width: 50px;
    height: 50px;
  }
}
.pokemons h3 {
  font-size: 1.25rem;
  font-weight: 400;
  box-sizing: border-box;
  margin: auto;
}
@media screen and (max-width: 46.875rem) {
  .pokemons h3 {
    font-family: 14px;
    font-weight: 300;
  }
}
.pokemons article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  border-radius: 20px;
  border: #1E1E1E 3px solid;
  width: 280px;
  height: 350px;
  transition: all 0.2s ease-out;
  margin-bottom: 20px;
}
@media screen and (max-width: 46.875rem) {
  .pokemons article {
    width: 230px;
    height: 290px;
  }
}
.pokemons article i {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 110px;
  z-index: 0;
  opacity: 0.4;
}
.pokemons article img {
  width: 100px;
  height: 100px;
  margin: 40px 0;
  z-index: 1;
}
.pokemons article div {
  all: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pokemons article div span {
  width: 70px;
  border-radius: 50px;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

.info {
  position: fixed;
  top: 0;
  left: -100%;
  text-align: center;
  font-size: 20px;
  z-index: 40000;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-rows: auto;
  padding: 40px 47px 35px 50px;
  box-sizing: border-box;
  background-color: #F5F5F5;
  height: 100%;
  width: 500px;
  border-right: #000000 solid 3px;
  overflow-y: auto;
  transition: all 0.4s ease;
}
@media screen and (max-width: 46.875rem) {
  .info {
    width: 100%;
  }
}
.info .info__empty {
  margin: auto;
  font-weight: 600;
}
.info.show {
  top: 0;
  left: 0;
  transition: all 0.4s ease;
}
.info h2 {
  grid-row: 2;
  margin: 0;
  min-height: 54px;
  align-self: flex-end;
}
.info i {
  grid-row: 1;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  background-color: none;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.info i img {
  width: 75%;
  height: 75%;
}
.info i.info__quit {
  all: unset;
  display: none;
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #df0000;
  transition: all 0.1s ease;
  border-left: 1px #000000 solid;
  border-bottom: 1px #000000 solid;
  cursor: pointer;
}
.info i.info__quit:active {
  background-color: #ce0000;
  transition: all 0.1s ease;
}
.info i.info__quit img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 46.875rem) {
  .info i.info__quit {
    display: flex;
  }
}
.info .info__description {
  grid-row: 4;
}
.info .info__description p {
  margin: 0;
  font-weight: 500;
}
.info article.info__stats {
  grid-row: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.info article.info__stats div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.info article.info__stats div p {
  margin: 0;
}
.info article.info__stats div p:first-child {
  font-weight: 500;
}
.info article.info__types {
  grid-row: 3;
  text-align: center;
  height: 30px;
  align-self: center;
}
.info article.info__types div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.info article.info__types div span {
  width: 70px;
  border-radius: 50px;
  padding: 5px 10px;
  padding-bottom: 7px;
  margin-bottom: 10px;
  font-weight: 400;
  font-weight: 400;
}
.info article.info__types--abilities {
  grid-row: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 50px 0;
}
.info article.info__types--abilities p:first-child {
  font-weight: 500;
}

button {
  all: unset;
  position: fixed;
  left: -100%;
  top: 50%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 20000;
}
@media screen and (max-width: 46.875rem) {
  button {
    display: none;
  }
}
button.show {
  left: -30px;
}
@media (hover: hover) {
  button:hover {
    left: 0;
    transform: rotate(45deg);
    transition: all 0.5s ease;
  }
}
button.activated {
  left: 505px;
  transform: rotate(360deg);
}
@media (hover: hover) {
  button.activated:hover {
    left: 500px;
    transform: rotate(315deg);
    transition: all 0.5s ease;
  }
}
button img {
  width: 100%;
  height: 100%;
}

section.teamConstructor {
  box-sizing: border-box;
  width: 50%;
  margin: 90px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #F5F5F5;
  gap: 25px;
  padding: 30px 15px 30px 15px;
  border: 6px solid #0075BE;
  border-radius: 10px;
}
section.teamConstructor article {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  width: 13.5rem;
  height: 13.5rem;
  margin: 0 auto;
  border-radius: 20px;
  transition: all 0.2s ease-out;
}
section.teamConstructor article img {
  width: 80px;
  height: 80px;
}/*# sourceMappingURL=main.css.map */